@model IEnumerable<Photo>

<div class="container mt-4">
    <h2 class="text-center">Photo Gallery</h2>
    <div class="row">
        @foreach (var photo in Model)
        {
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="card">
                    <img src="@photo.ImagePath" class="card-img-top img-fluid" alt="Gallery Image">
                </div>
            </div>
        }
    </div>
</div>
