
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Reach Us</h2>
    <p class="text-center">Have any questions? Feel free to reach out!</p>
    <div class="text-center">
        <p><strong>Email:</strong> win15051982@gmail.com</p>
        <p><strong>Phone:</strong>+91 8961271318</p>
        <p><strong>Address:</strong> 25/394, Thakur Gole, Near Khadho Bhawan, Chinsurah R S, Kolkata, West Bengal 712101</p>
    </div>
</div>
