@model List<Content>


<div class="row">
    @foreach (var content in Model)
    {
        @if(content.Title.Equals("About"))
        {
            <div>@Html.Raw(content.Body)</div> 
        }
    }
</div>

